<h1>Edit Profile</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.text_field :email, placeholder: "Email" %><br>
  <%= f.text_field :name, placeholder: "Name" %><br>
  <%= f.password_field :password, placeholder: "Password" %><br>
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br>
  <%= f.file_field :profile_image %>
  <div>
    <%= f.submit 'Sign up' %>
  </div>
<% end %>
