<h1 class="title"><%= @user.name %></h1>

<div class="wrapper">
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'New Post', new_picture_path %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(@user.id) %></li>
        <li><%= link_to 'Favorites', favorites_path %></li>
      </ul>
  </div>

  <div class="profile_image">
  <% if @user.profile_image.url %>
    <%= image_tag(@user.profile_image.url) %>
  <% else %>
    <%= image_tag 'default_profile_image.jpg' %>
  <% end %>
  </div>
</div>


<nav aria-label="..." class="bottom-nav">
  <ul class="pager">
    <li class="previous"><%= link_to 'â† TOP', pictures_path %></li>
  </ul>
</nav>
