<h1><%= @user.name %>のページ</h1>

<div class="profile_menu">
  <%= link_to 'Edit Profile', edit_user_path(@user.id) %>
</div>

<div class="profile_image">
<% if @user.profile_image %>
  <%= image_tag(@user.profile_image.url) %>
<% else %>
  <%= image_tag 'default_profile_image.jpg' %>
<% end %>
</div>
<div class="profile_name">
<%= @user.name %>
</div>


<%= link_to 'TOP', pictures_path %>
