<h1 class="title"><%= @user.name %></h1>

<div class="wrapper">
  <div class="btn btn-default">
    <%= link_to 'Edit Profile', edit_user_path(@user.id) %>
  </div>

  <div class="profile_image">
  <% if @user.profile_image.url %>
    <%= image_tag(@user.profile_image.url) %>
  <% else %>
    <%= image_tag 'default_profile_image.jpg' %>
  <% end %>
  </div>
</div>


<nav aria-label="..." class="bottom-nav">
  <ul class="pager">
    <li class="previous"><%= link_to 'â† TOP', pictures_path %></li>
  </ul>
</nav>
