  <% @pictures.each do |picture| %>
  <div class="post_group">
    <div class="poster_info">
    <%= picture.user.name %>
    <%= picture.user.profile_image %>
    </diV>
    <div class="post_picture">
    <%= image_tag(picture.image.url) %><br>
    </div>
    <div class="post_content">
    <%= picture.content %><br>
    </div>
    <div>
    <%= link_to '編集', edit_picture_path(picture.id) %>
    </div>
    <div>
    <%= link_to '削除', picture_path(picture.id), method: :delete, data: { confirm: 'Are you sure to delete this post?' } %> 
    </div>
  </div>
  <% end %>
