<!DOCTYPE html>
<html>
  <head>
    <title>Instagramclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header">
      <div class="header-nav">
        <h3 class="title">facebook</h3>
        <div class="navi">
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user.id) %>
          <%= link_to "Logout", session_path(current_user.id), method: :delete %><br>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                menu
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'New Post', new_picture_path %></li>
                <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
                <li><%= link_to 'Favorites', favorites_path %></li>
              </ul>
          </div>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Login", new_session_path %>
        <% end %>
        </div>

      </div>

    </header>
    <section>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    </section>
  </body>
</html>
